@page "/"
<h1>Welcome to the Marble Table problem Checker</h1>

<form @onsubmit=CreateEmptyBoard>
    <label>Board Size</label>
    <input type="number" @bind=BoardSize />
    <button class="btn btn-primary" type="submit">Create Empty Board</button>
</form>

@if (board != null)
{
    <form @onsubmit=@(() => {ModifyRow();})>
        <label>Modify a Specific Row</label>
        <label>Row Index</label>
        <input type="number" @bind=rowIndex />
        <label>Row Text:</label>
        <input type="text" @bind=rowText />
        <p>Note: The row text only accepts '0' to place a marble or 'X' to set an empty space</p>
        <button class="btn btn-primary" type="submit">Modify Row</button>
    </form>
    <table>
        @foreach (var row in board.Rows)
        {
            <tr>
                <td>
                    @(rowUiIndex++)
                    @if (rowUiIndex >= BoardSize)
                    {
                        rowUiIndex = 0;
                    }
                </td>
                @foreach (var cell in row.Cells)
                {
                    @if (cell.Value == 'X')
                    {
                        <td @onclick="@(() => SwitchCell(cell))">⚪</td>
                    }
                    else if (cell.Value == '0')
                    {
                        <td @onclick="@(() => SwitchCell(cell))">⚫</td>
                    }
                }
            </tr>
        }
    </table>
    <button class="btn btn-primary" @onclick=CheckBoardIfSolvable>Check if your Board is Solvable</button>
    @if (solvable != "")
    {
        <p>@solvable</p>
    }

}

@code {
    int BoardSize { get; set; }
    Board board { get; set; }
    int rowIndex;
    int rowUiIndex;
    string rowText = "";
    string solvable = "";
    void CreateEmptyBoard()
    {
        board = new Board(BoardSize);
    }
    void ModifyRow()
    {
        board.SetRowConfiguration(rowIndex, rowText);
    }
    void CheckBoardIfSolvable()
    {
        try
        {
            board.ReduceBoardTo2x2();
        }
        catch (Exception e)
        {
            solvable = e.Message;
        }
    }
    void SwitchCell(Cell cell)
    {
        board.ModifyCell(cell);
    }
}