@page "/"
<h1>Welcome to the Marble Table Problem Checker</h1>

<form @onsubmit=CreateEmptyBoard>
    <label>Board Size</label>
    <input type="number" @bind=BoardSize />
    <button class="btn btn-primary" type="submit">Create Empty Board</button>
</form>
<button class="btn btn-primary" @onclick=CreateExerciseBoard>Create the Board From the Book!</button>

@if (board != null)
{
    <form @onsubmit=@(() => {ModifyRow();})>
        <label>Modify a Specific Row</label>
        <label>Row Index</label>
        <input type="number" @bind=rowIndex />
        <label>Row Text:</label>
        <input type="text" @bind=rowText />
        <p>Note: The row text only accepts '0' to place a marble or 'X' to set an empty space</p>
        <button class="btn btn-primary" type="submit">Modify Row</button>
    </form>
    <p>You can click in the cells you want to modify</p>
    <table>
        @foreach (var row in board.Rows)
        {
            <tr>
                <td>
                    @(rowUiIndex++)
                    @if (rowUiIndex >= BoardSize)
                    {
                        rowUiIndex = 0;
                    }
                </td>
                @foreach (var cell in row.Cells)
                {
                    @if (cell.Value == 'X')
                    {
                        <td @onclick="@(() => SwitchCell(cell))">⚪</td>
                    }
                    else if (cell.Value == '0')
                    {
                        <td @onclick="@(() => SwitchCell(cell))">⚫</td>
                    }
                }
            </tr>
        }
    </table>
    <button class="btn btn-primary" @onclick=CheckBoardIfSolvable>Check if your Board is Solvable</button>
    <button class="btn btn-primary" @onclick=AutomaticSolve>Solve The Board</button>
    @if (solvable != "")
    {
        <p>@solvable</p>
    }

}

@code {
    int BoardSize { get; set; }
    Board board { get; set; }
    int rowIndex;
    int rowUiIndex;
    string rowText = "";
    string solvable = "";

    protected override void OnInitialized()
    {
        Board.ElementOfHAdded += () => InvokeAsync(StateHasChanged);
    }

    void CreateEmptyBoard()
    {
        rowIndex = 0;
        rowUiIndex = 0;
        board = new Board(BoardSize);
        solvable = "";
    }
    void CreateExerciseBoard()
    {
        solvable = "";
        BoardSize = 10;
        board = new Board(10);
        board.SetRowConfiguration(0, "0000000000");
        board.SetRowConfiguration(1, "0000000000");
        board.SetRowConfiguration(2, "0000000000");
        board.SetRowConfiguration(3, "0000000000");
        board.SetRowConfiguration(4, "0000000000");
        board.SetRowConfiguration(5, "0000000000");
        board.SetRowConfiguration(6, "0000000000");
        board.SetRowConfiguration(7, "0000000000");
        board.SetRowConfiguration(8, "0000000000");
        board.SetRowConfiguration(9, "000000000X");
    }
    void ModifyRow()
    {
        try
        {
            board.SetRowConfiguration(rowIndex, rowText);
        }
        catch (Exception e)
        {
            solvable = e.Message;
        }
    }
    void CheckBoardIfSolvable()
    {
        try
        {

            board.CheckIfBoardIsAnElementOFH();
        }
        catch (Exception e)
        {
            solvable = e.Message;
        }
    }
    async void AutomaticSolve()
    {
        try
        {
            await board.SolveBoard();
        }
        catch (Exception e)
        {
            solvable = e.Message;
            StateHasChanged();
        }

    }
    void SwitchCell(Cell cell)
    {
        board.ModifyCell(cell);
    }
}